div.separator {
  height: 3px;
  background-color: var(--color1);
}
a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

body {
  background: var(--color5) !important;
  background-color: var(--color5) !important;
}
