@import "./design.css";

.aboutContainer {
  background: var(--about-us-background);
  color: var(--about-us-color);
  padding: 2rem 0;
}

.aboutContainer .title {
  font-weight: bold;
  padding-bottom: 20px;
}

.aboutHeader {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 1em;
  margin-bottom: 2em;
}

.aboutHeader svg {
  width: auto;
  height: 2.5em;
  fill: var(--about-us-header-color);
}

.aboutHeader h2 {
  margin: 0;
  color: var(--about-us-header-color);
}

.countDownContainer {
  background: var(--countdown-background);
  color: var(--countdown-color);
  border: var(--countdown-border);
  border-radius: var(--countdown-border-radius);

  font-weight: bold;
  padding: 1rem;
  padding-right: 2.5rem;
  margin: auto;
  font-size: 1.5pc;
  width: 40rem;
}

.countDownRow {
  display: block;
  text-align: center;
}

.aboutContainer p a {
  color: var(--about-us-link-color);
  text-decoration: underline;
}

.imageContainer {
  position: relative;
  margin-top: -20px;
  padding: 1rem;
  height: 400px;
}

.imageContainer:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -5px;
  right: 10px;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
}

.imageContainer:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -5px;
  left: 10px;
  border-top: 8px solid white;
  border-left: 8px solid white;
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }

  .countDownContainer {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .aboutHeader svg {
    display: none;
  }

  .countDownContainer {
    width: 20rem;
  }
  .countDownContainer .countDownCol {
    flex-basis: 8rem;
  }
}
