@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./design.css";

:root {
  --banner-height: 100vh;
}

.banner {
  width: 100%;
  height: var(--banner-height);
  font-family: "Roboto", sans-serif;
  color: black;
  background: var(--banner-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 2;
}

.info_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  z-index: 2;
}

.info_wrapper p {
  margin-bottom: 15px;
}

.info {
  width: max-content;
  text-align: center;
  font-weight: 500;
  padding: 1rem;
  margin-top: 0rem;
  border-radius: 0.5rem;
}

.info p {
  margin-bottom: 0;
  font-weight: bold;
}

.info p:nth-of-type(1) {
  font-size: var(--banner-first-line-size);
  color: var(--banner-first-line-color);
}

.info p:nth-of-type(2) {
  font-size: var(--banner-second-line-size);
  color: var(--banner-second-line-color);
}

.icon_links {
  display: var(--banner-icon-links-display);
  justify-content: center;
}

.icon_links a {
  margin: 0 0.1em;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;

  color: var(--banner-icon-link-color);
  transition: color 500ms ease;
}

.icon_links a:hover,
.icon_links a:focus {
  color: var(--banner-icon-link-color-hover);
}

/* FIXME the crossfade animation is not working correctly */
.carousel_item {
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.carousel_item img {
  width: 100%;
  height: var(--banner-height);
  object-fit: cover;
}

@media (max-width: 768px) {
  .info {
    margin-top: 4rem;
  }

  .logo {
    width: 20em;
  }
}

@media (max-width: 576px) {
  .info_wrapper {
    font-size: 0.9em;
  }

  .icon {
    width: 15em;
  }
}
