@import "./design.css";

.sponsorsSection {
  padding: 3rem 0 7rem 0;
  background-color: var(--sponsors-background);
}

.h2 {
  font-size: 2.5rem;
  color: var(--sponsors-header-color) !important;
}

hr:not([size]) {
  height: 0.3rem !important;
  /* width: 19rem !important; */
}

.headingLine {
  background-color: var(--sponsors-line-color) !important;

  margin-top: 2rem;
}

.sponsorsType {
  padding: 10px;
  margin-left: 5%;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.sponsorTypeHeading {
  background: var(--sponsor-type-background);
  margin: 1rem auto 2rem;
  width: max-content;

  padding: 1rem 6rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.goldSponsor {
  color: #ffb703;
}

.silverSponsor {
  color: #c0c0c0;
}

.bronzeSponsor {
  color: #fb8500;
}

.mainSponsor {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

.mainWrapper {
  width: 100%;
  padding-right: 10%;
}

.otherSponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 10rem 6rem;
  gap: 1.5rem;
}

@media (max-width: 1000px) {
  .mainWrapper {
    width: 100%;
    padding-right: 0;
  }

  .mainSponsor {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}

@media (max-width: 768px) {
  .sponsorsType {
    font-size: 1.5em;
  }

  .mainWrapper {
    width: 100%;
    padding-right: 0;
  }

  .mainSponsor {
    padding-bottom: 15%;
    padding-top: 15%;
  }
}

@media (max-width: 600px) {
  .sponsorsType {
    font-size: 1em;
  }
}
