@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");
@import "../common/palette.css";

.wrapper {
  border: 4px white solid;
  background: transparent;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 2rem auto;
}

.CountdownRow {
  display: block;
  text-align: center;
}

.CountdownContainer {
  border-radius: 1rem;
}

.wrapper li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0;
}

.wrapper li span {
  margin: 0;
  padding: 0;
}

.wrapper li span:first-child {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
}

.wrapper li span:last-child {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.lead {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.signUp {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.4s;
  color: white;
}

.signUp:hover {
  color: var(--color4);
  opacity: 0.8;
}

.section {
  background-image: url("../../images/showcase/foto1.png");
  text-align: center;
  color: white;
  padding: 15rem 20%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .CountdownRow {
    padding: 1pc;
  }

  .wrapper {
    border: none;
    grid-template-columns: 1fr;
  }

  .section {
    padding: 10% 5%;
  }

  .wrapper li span:first-child {
    font-size: 3rem;
    font-weight: 400;
  }

  .wrapper li span:last-child {
    font-weight: 100;
  }
}
