@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");
@import "../common/palette.css";

.wrapper {
  border: 4px white solid;
  background: transparent;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 2rem auto;
}

.wrapper li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0;
}

.wrapper li span {
  margin: 0;
  padding: 0;
}

.wrapper li span:first-child {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
}

.wrapper li span:last-child {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.lead {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.signUp {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;

  padding: 2rem 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white;

  opacity: var(--tickets-signup-opacity);
  color: var(--tickets-signup-color);
  background: var(--tickets-signup-background);
  transition: color 250ms ease, opacity 250ms ease, background 250ms ease;
}

.signUp:hover {
  opacity: var(--tickets-signup-opacity-hover);
  color: var(--tickets-signup-color-hover);
}

.section {
  background: var(--tickets-background);
  text-align: center;
  color: white;
  padding: 6rem 0;
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .CountdownRow {
    padding: 1pc;
  }

  .wrapper {
    border: none;
    grid-template-columns: 1fr;
  }

  .signUp {
    font-size: 1.2rem;
  }

  .section {
    padding: 10% 5%;
  }

  .wrapper li span:first-child {
    font-size: 3rem;
    font-weight: 400;
  }

  .wrapper li span:last-child {
    font-weight: 100;
  }
}
