@import "./design.css";

.competitionPage {
  background: var(--competition-background);
  padding: 3rem 0;
}

.competitionContainer {
  padding-bottom: 10%;
}

.competitionText {
  font-size: 20px;
  color: var(--color5);
}

.conditions {
  margin-top: 3rem;
  padding-bottom: 2em;

  background: var(--conditions-background);
}

.prizeSquares {
  text-align: center;
  position: relative;
  justify-content: space-between;
  margin-right: 0 !important;

  color: var(--prize-color);
}

.squarePrize {
  background: white 0% 0% no-repeat padding-box;
  border: 4px solid var(--prize-color);
  border-radius: 0.5rem;
  opacity: 1;
  height: 280px;
  width: 280px;
}

.prize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prizeType {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.7px;
  color: var(--prize-color);

  order: -1;
  padding: 0.5rem 0;
}

.prizeTitle {
  color: var(--prize-color);
  margin-top: 10px;
  margin-left: 15px;
  font-size: 19px;
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 0.5rem 0;
}

.prizeFirst {
  --prize-color: #ffb703;
}

.prizeSecond {
  --prize-color: #c0c0c0;
}

.prizeThird {
  --prize-color: #fb8500;
}

.prizeDescription {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.5px;
}

.conditions_container {
  /* margin-top: -140px; */
}

.conditionsHeader {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 1em;
  margin-bottom: 2em;
}

.conditionsHeader svg {
  width: auto;
  height: 2.5em;
  fill: var(--conditions-header-color);
}

.conditionsHeader h2 {
  margin: 0;
  color: var(--conditions-header-color);
}

.conditionsText {
  font-size: 2em;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;

  text-align: center;
}

.horizontalRuler {
  width: 150px;
  margin: 0 auto;
  border: 2px solid white;
}

.conditionList {
  font-size: 1.25em;
  padding-left: 35px !important;
  color: var(--conditions-text-color);
}

.conditionList a {
  color: white;
  text-decoration: underline;
}

.conditionList a:hover {
  color: white;
}

@media (max-width: 1366px) {
  .squarePrize {
    height: 240px;
    width: 240px;
  }

  /* .prizeSquares {
    bottom: 120px;
  } */

  .conditions_container {
    /* margin-top: -120px; */
  }
}

@media (max-width: 1160px) {
  .squarePrize {
    height: 210px;
    width: 210px;
  }

  .prizeSquares {
    /* bottom: 105px; */
  }

  .conditions_container {
    /* margin-top: -105px; */
  }
}

@media (max-width: 990px) {
  .squarePrize {
    height: 180px;
    width: 180px;
  }

  .prizeSquares {
    /* bottom: 95px; */
  }

  .conditions_container {
    /* margin-top: -95px; */
  }

  .prizeType {
    font-size: 1.5em;
  }

  .prizeTitle {
    font-size: 1em;
  }

  .prizeDescription {
    font-size: 1em;
  }
}

@media (max-width: 860px) {
  .squarePrize {
    height: 140px;
    width: 140px;
  }
}

@media (max-width: 767px) {
  .conditions {
    padding-bottom: 20%;
  }

  .squarePrize {
    height: 240px;
    width: 240px;
  }

  .prizeSquares {
    /* bottom: 120px; */
  }

  .conditions_container {
    /* margin-top: -120px; */
  }

  .prizeType {
    text-align: center;
    font-size: 1.3em;
    margin-left: 0;
  }

  .prizeTitle {
    text-align: center;
    font-size: 16px;
    margin-left: 0;
  }

  .prizeDescription {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .conditions {
    padding-bottom: 30%;
  }

  .prizeTitle {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.05em;
  }

  .prizeDescription {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.05em;
  }

  .competitionText {
    font-size: 1em;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .squarePrize {
    height: 180px;
    width: 180px;
  }

  .prizeSquares {
    /* bottom: 95px; */
  }

  .whiteSection {
    padding-right: 0 !important;
  }
}

@media (max-width: 440px) {
  /* .participateText {
    font-size: 2em;
  } */
}

@media (max-width: 576px) {
  .conditionsHeader svg {
    display: none;
  }
}
