@import "./palette.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.logo {
  height: 1.5rem;
}

.logo path {
  fill: white;
}

.background {
  background-color: var(--color1) !important;
}

.navbar {
  background: linear-gradient(180deg, var(--color5) 0%, var(--color4) 100%);
  background-color: linear-gradient(
    180deg,
    var(--color5) 0%,
    var(--color4) 100%
  );
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 10px #333;
  height: fit-content;
  flex-direction: column;
  padding: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar > div {
  width: 100%;
  margin: 0;
  top: 0;
}

.topBanner {
  height: 4rem;
  background: linear-gradient(180deg, var(--color5) 0%, var(--color4) 100%);
  background-color: linear-gradient(
    180deg,
    var(--color5) 0%,
    var(--color4) 100%
  );
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background: var(--color3);
  background-color: var(--color3);
  border-top: 4.5px solid var(--color5);
  border-bottom: 4.5px solid var(--color5);
  padding: 0.4rem 4rem;
  font-size: 1.1rem;
}

.noBackground {
  background-color: transparent;
}

.navbar > a {
  line-height: 1rem;
}

.navLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  padding: 0.2rem 0 !important;
  border-radius: 10px;
  color: var(--color5) !important;
  padding: 1rem 2rem;
}

.dropdownHeader {
  color: var(--color5) !important;
  background-color: var(--color2) !important;
  background: var(--color2) !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25) !important;
  border-radius: 7px !important;
  border-color: var(--color2) !important;
  padding: 0.3rem 1rem !important;
  font-size: 0.9rem !important;
  min-width: 140px;
}

.dropdownChild {
  text-align: center !important;
  box-shadow: inset 0 10px 10px -12px rgba(0, 0, 0, 75%) !important;
  background: var(--color3) !important;
  border-radius: 0 0 15px 15px !important;
  border: none !important;
  padding: 1rem 0 !important;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto !important;
  min-width: 0 !important;
  max-width: 130px;
  word-wrap: break-word;
}

.dropdownChild > a {
  color: var(--color5) !important;
  white-space: normal;
  min-width: 100px;
}
.dropdownChild > a:hover {
  background: var(--color3) !important;
  opacity: 0.7;
}
.otherLinks {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dropdownLink {
  color: var(--color1) !important;
}

.hamburguer {
  display: none !important;
}
.hamburguer > div {
  height: 38px !important;
}
.navModal {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color5) !important;
  padding: 2rem 0;
  border-bottom: 3px solid var(--color4);
}

.navModal .navLink {
  font-size: 1.1rem;
  color: var(--color3) !important;
}

.navModal .navLink:hover {
  font-size: 1.1rem;
  color: var(--color2) !important;
}

@media (max-width: 720px) {
  .navModal {
    display: flex;
  }
  .hamburguer {
    display: block !important;
  }
  .otherLinks,
  .navigation {
    display: none;
  }
}

@media (max-width: 991px) {
  .navLink:hover,
  .navLinkActive {
    border-bottom: none;
  }

  .navbar {
    padding: 0.25rem 0;
  }

  .navbar > a {
    padding-bottom: 0.5625rem;
  }
}

@media (min-width: 992px) {
  .navLink {
    @media padding: 0.2rem 1rem;
  }
}
