@import "./palette.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.logo {
  height: 1.5rem;
}

.logo path {
  fill: white;
}

.background {
  background-color: var(--color1) !important;
}

.navbar {
  background-color: var(--color1);
  font-family: "Roboto", sans-serif;
  padding: 0.4rem 1rem;
  box-shadow: 0px 0px 10px #333;
  height: 3rem;
}

.noBackground {
  background-color: transparent;
}

.navbar > a {
  line-height: 1rem;
}

.navLink {
  color: white !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px transparent solid;
  border: 0;
  padding: 0.2rem 0 !important;
}

.dropdownLink {
  color: var(--color1) !important;
}

.navLink:hover,
.navLinkActive {
  border-color: white;
}

.navLink:hover {
  opacity: 0.7;
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.toggler {
  position: absolute;
  right: 0.1rem;
  border: none !important;
  box-shadow: none !important;
}

.toggler span {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
@media (max-width: 991px) {
  .navLink:hover,
  .navLinkActive {
    border-bottom: none;
  }

  .navbar {
    padding: 0.25rem 0;
  }

  .navbar > a {
    padding-bottom: 0.5625rem;
  }

  .navbar > div:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.8);
  }
}

@media (min-width: 992px) {
  .navLink {
    @media padding: 0.2rem 1rem;
  }
}
