:root {
  --color1: #8ecae6;
  --color2: #fb8500;
  --color3: #ffffff;
  --color4: #219ebc;
  --color5: #ffb703;
  --color6: #023047;
}

body {
  font-size: 16px !important;
}

/* Old palette
--color-old-1: #ff341f;
--color-old-2: #ff711f;
--color-old-3: #ffa000;
--color-old-4: #ffe500;
--color-old-5: #350052;
--color-old-6: #;
*/
