:root {
  --yellow: #ffb703;
  --orange: #fb8500;
  --baby-blue: #8ecae6;
  --turquoise: #219ebc;
  --navy-blue: #023047;
}

body {
  font-size: 16px !important;
}

/* Old palette
--color-old-1: #ff341f;
--color-old-2: #ff711f;
--color-old-3: #ffa000;
--color-old-4: #ffe500;
--color-old-5: #350052;
--color-old-6: #;
*/
