@import "../common/palette.css";

.container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.frame {
  border: 2px solid var(--color2);
  border-radius: 20px 20px 20px 0px;
}

.container .image {
  width: 100%;
}

.overlay {
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  overflow: hidden;
}

.color_overlay {
  width: 100%;
  height: 100%;
}

.secondary_overlay {
  z-index: 1;
  opacity: 0;
  height: 0;

  width: 100%;
  background-color: black;
  background-color: var(--color4) !important;

  text-align: right;

  -webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
}

.secondaryFiller {
  height: 1em;
}

.main_overlay {
  z-index: 2;
  opacity: 0;
  height: 0;

  width: 100%;
  padding-left: 0.7em;
  background-color: var(--color2) !important;

  -webkit-clip-path: polygon(0% 0%, 100% 67%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 67%, 100% 100%, 0% 100%);
}

.container:hover .main_overlay {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.15s;

  opacity: 1;

  display: block;
  height: initial;

  padding-top: 1.8em;
  padding-bottom: 0.5em;
  transform: translate(-50%, -99%);
}

.container:hover .secondary_overlay {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.15s;

  opacity: 1;

  display: block;
  height: initial;

  padding-top: 0.7em;
  padding-bottom: 2em;
  transform: translate(-50%, -99%);
}

.container:hover .color_overlay {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 0;
}

.overlay div {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  color: white;
}

@media (hover: none) {
  .color_overlay {
    display: none;
  }

  .secondary_overlay {
    opacity: 1;

    display: block;
    height: initial;

    padding-top: 0.7em;
    padding-bottom: 2em;
    transform: translate(-50%, -100%);
  }

  .main_overlay {
    opacity: 1;

    display: block;
    height: initial;

    padding-top: 1.8em;
    padding-bottom: 0.5em;
    transform: translate(-50%, -100%);
  }
}

.bg1 {
  background-color: var(--color1);
  opacity: 0.4;
}

.bg2 {
  background-color: var(--color2);
  opacity: 0.3;
}

.bg3 {
  background-color: var(--color5);
  opacity: 0.4;
}

.bg4 {
  background-color: var(--color4);
  opacity: 0.4;
}

/* .container:hover .bg2 {
  background-color: #ffe5005e;
} */
