@import "../common/palette.css";

:root {
  --page-banner-background: linear-gradient(
    180deg,
    var(--turquoise) 0%,
    var(--navy-blue) 100%
  );

  --page-banner-color: var(--yellow);
}

.container {
  width: 100%;
  padding: 3em 1em;
  padding-top: 8em;
  display: flex;
  justify-content: center;

  text-align: center;

  background: var(--page-banner-background);
  color: var(--page-banner-color);
}

.container > h1 {
  font-weight: bold;
}

.container > svg {
  max-height: 120px;
}

@media (max-width: 720px) {
  .container {
    padding-top: 4em;
  }
}
