.container {
  padding-top: 0.5rem;
  overflow-x: hidden;
  background-color: var(--color6);
}

.pageTitle {
  font-weight: 600;
  color: var(--color3);
}

.schedule {
  border-left: 1px #ccc solid;
  padding-left: 2.5rem;
  width: 100%;
  margin-left: 20%;
}

.headingLine {
  margin: 0.2rem auto;
  color: var(--color5);
  background-color: var(--color5);
}

.innerTab {
  color: #bbb !important;
  font-weight: 500;
  padding: 0.3rem 0;
  margin: 0 1rem;
  cursor: pointer;
}

.innerTab:hover {
  color: var(--color1) !important;
}

.innerTab.active {
  color: var(--color1) !important;
  width: auto;
  border-bottom: 0.2rem solid var(--color1);
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navItem path {
  fill: var(--color5);
}

.navItemWrapper {
  position: relative;
  border-bottom: 5px solid #fff0;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
}

.navItemWrapper:first-child {
  border-radius: 10px 0px 0px 0px;
}

.navItemWrapper:last-child {
  border-radius: 0px 10px 0px 0px;
}

.navItemWrapper:after {
  display: none;
  content: "";
  position: absolute;
  width: 5px;
  height: 1.1rem;
  bottom: -1.1rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: var(--color2);
}

.navItem :first-child {
  margin-right: 0.5rem;
}

.navItem h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.navItemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color5);
}

.navItemWrapper:hover,
.navItemWrapper.active {
  border-color: var(--color2) !important;
}

.navItemWrapper:hover:after,
.navItemWrapper.active:after {
  display: block;
}

.themeHeader {
  display: inline-block;
  color: white;
  background-color: var(--color2);
  padding: 1.5rem 2rem;
  border-radius: 0 0px 10px 10px;
  margin-top: 0.5rem;
}

.programNav {
  display: inline-flex;
  justify-content: center;
}

.programNavWrapper {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.programNavContainer {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.themeHeading {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .navItemWrapper a {
    padding: 0.2rem 0.3rem;
  }
}

@media (max-width: 500px) {
  .navItemWrapper {
    width: 100%;
  }

  .navItem {
    justify-content: center;
  }

  .navItemWrapper:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  .navItemWrapper:last-child {
    border-radius: 0px 0px 0px 0px;
  }

  .schedule {
    margin-left: 10%;
  }

  .navItemWrapper:hover:after,
  .navItemWrapper.active:after {
    display: none;
  }
}
