@import "../common/palette.css";

.row {
  max-width: 100%;
}

.container {
  padding-bottom: 2em;
}

.title {
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--talk-title-color);
}

.info_container {
  margin-bottom: 2em;
  color: var(--talk-description-color);
}

.date {
  text-align: right;
}

.date > :nth-child(1) {
  color: var(--talk-date-first-line-color);
}

.date > :nth-child(2) {
  color: var(--talk-date-second-line-color);
}

.date > :nth-child(3) {
  color: var(--talk-date-third-line-color);
}

.date > div {
  font-size: 1.3em;
}

.date > :nth-child(2) {
  color: var(--color3);
  font-weight: 600;
}

.date > :nth-child(3) {
  font-weight: bold;
}

.info_container > :nth-child(1) {
  flex-grow: 0.2;
}

@media (max-width: 575.98px) {
  .info_container {
    flex-direction: column;
  }

  .date {
    text-align: left;
  }
}
