@import "../common/palette.css";

.container {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;

  background: var(--color2) 0% 0% no-repeat padding-box;
  border: 2px solid var(--color2);
  border-radius: 5px;
  padding: 0.2em 2em;
  max-width: 9em;
}

.container:hover {
  text-decoration: none;
  color: var(--color2);
  background-color: white;
}
