@import "../common/palette.css";

div.container {
  padding: 0;
}

.id_container {
  display: none;
  align-items: flex-end;
  background: linear-gradient(
    to bottom,
    var(--color1) 0%,
    var(--color2) 30%,
    var(--color2) 50%,
    white 50%
  );
  padding-top: 5em;
  margin-bottom: 2em;
}

div.id_wrapper {
  margin-right: auto;
  margin-left: auto;
}

div.frame {
  flex-grow: unset;
}

.name {
  margin-top: 5em;
}

.bio {
  margin: 4em 1em 3em 20px;
}

.mb_blue {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  background: linear-gradient(
    to bottom,
    var(--color1) 0%,
    var(--color2) 60%,
    var(--color2) 80%
  );
}

@media (min-width: 991px) {
  div.mb_id_container {
    display: none;
  }

  div.id_container {
    display: flex;
  }

  div.id_wrapper {
    max-width: 720px;
  }

  div.id_container {
    background: linear-gradient(
      to bottom,
      var(--color1) 0%,
      var(--color2) 10rem,
      var(--color2) 17rem,
      white 17rem
    );
  }

  div.id_wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  div.id_wrapper {
    max-width: 1140px;
  }
}
