@import "./design.css";

div.container {
  padding: 0;
}

div.container:nth-of-type(n + 2) .id_container,
div.container:nth-of-type(n + 2) .mb_blue {
  background: var(--next-speakers-background);
}

.id_container {
  display: none;
  align-items: flex-end;
  background: var(--speaker-background);
  padding-top: 5em;
  margin-bottom: 2em;
}

div.id_wrapper {
  margin-right: auto;
  margin-left: auto;
}

div.frame {
  flex-grow: unset;
  margin-right: 1rem;
}

.name {
  margin-top: 5em;
}

.bio {
  max-width: 30rem;
  margin: 1em auto 3em;
  padding: 0 1em;
  color: var(--speaker-bio-text-color);
}

.mb_blue {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--speaker-background);
}

div.mb_id_container {
  background: var(--speaker-base-background-color);
}

@media (min-width: 768px) {
  .bio {
    max-width: 40rem;
    padding: initial;
  }
}

@media (min-width: 991px) {
  div.mb_id_container {
    display: none;
  }

  div.id_container {
    display: flex;
  }

  div.id_wrapper {
    max-width: 720px;
  }

  /* div.id_container {
    background: linear-gradient(
      to bottom,
      var(--color1) 0%,
      var(--color2) 10rem,
      var(--color2) 17rem,
      white 17rem
    );
  } */

  .bio {
    margin: 1em 1em 3em 0;
  }

  div.id_wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  div.id_wrapper {
    max-width: 1140px;
  }
}
