@import "./design.css";

.container {
  display: flex;
  align-items: center;
}

.name_container {
  margin-right: 1em;
  color: var(--speaker-name-color);
}

.name_container hr {
  margin: 0.5rem auto 1rem;
  border: 0;
  background-color: var(--speaker-name-color);
  height: 5px;
  width: 60%;
  opacity: 1;
}

.name {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  white-space: nowrap;
}

.occupation {
  font-size: 1.2em;
  padding-bottom: 1em;
  font-weight: bold;
  color: var(--speaker-name-color);
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
  }

  .name_container {
    margin: 0;
  }

  .occupation {
    text-align: center;
    margin: 0 20px;
  }
}
